.header{
    background: #669999;
    color: rgb(255,193,7);
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;  
}

.header p {
    margin: 0;
    font-weight: bold;
}
h1, h2 {
    text-align: center; /*Menu 1 à 4*/
}
h3 {
    display: flex;
    justify-content: space-between;
}

.carte{
    background-color: #ffcccc;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

i {
    width: 100%;
    text-align: center;
}

p {
    display:flex;
    justify-content: space-between;
}

p span {
    margin-left: 1rem;
    font-weight: bold;
}

.descriptif-menu {
    margin-bottom: 2.5rem;
}

h3::before {
    display:inline-block;
    vertical-align: middle;
    height:.2rem;
    width:25%;
    background: black;
    content:"";
    margin-top: .6rem;
    margin-right: 1rem;
}

h3::after {
    display:inline-block;
    vertical-align: middle;
    height:.2rem;
    width:25%;
    background: black;
    content:"";
    margin-top: .6rem;
    margin-left: 1rem;
}

footer {
    display:flex;
    position: sticky;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    background: #669999;
    color: rgb(255,193,7);
    height: 3rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1.1rem;
    margin-top: 1.5rem;
    font-size: 23px;
}