body * {
  box-sizing: border-box;
}

.header{
    background: #579C87;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,193,7);
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;  
}

.header p {
    margin: 0;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #0033cc, #0066ff, #3399ff, white);
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    cursor: pointer;
  }
  
  h2::after {
    display:inline-block;
    content:"";
    height:.1rem;
    width:100%;
    background: none;     
  }
  
  h2:hover::after {
    background:black;
    animation: animate 2s linear infinite;
  }
  
  @keyframes animate{
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
   }

   .ligne {
    width: 35%;
  }
  
  .separateur {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .section1 .line1 {
    height: 5px;
    background: #0033cc;
  }

  .section2 .line1 {
    height: 5px;
    background: #0066ff;
  }

  .section3 .line1 {
    height: 5px;
    background: #3399ff;
  }
  
.carte{
    background-color: #fff;
    font-family: 'Dancing Script', cursive;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.p {
    display:flex;
    justify-content: space-between;
}

p span {
    margin-left: 1rem;
    font-weight: bold;
}

.descriptif-menu {
    margin-bottom: 2.5rem;
}

footer {
    display:flex;
    position: sticky;
    bottom: 0;
    left: 0;
    background: #579C87;
    height: 4rem;
    margin-top: 1.5rem;
}

footer a {
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    color: rgb(255,193,7);
    margin: auto;
}

footer a:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

@media (max-width: 600px) {

  .header {
      font-size: 2.5rem;
  }

  footer a {
      font-size: 15px;
  }
  h1 {
    margin-bottom: 0;
    font-size: 25px;
}

  h2 {
      margin-top: 2rem;
      margin-right: 0rem;
      margin-left: 0rem;
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 17px;
  }

  .menu {
      height: 15rem;
      width: 45%;
  }
  .carte {
    font-size: 17px;
    padding:0;
  }

  .point {
      width: 15px;
      padding-right: .7rem;
  }

  .p {
    margin-top: 2rem;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {

  .descriptif-menu {
      margin-bottom: 3.5rem;
  }

  h2 {
      margin-bottom: 0;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
  }

}

@media (min-width: 1025px) and (max-width: 1440px) {

}

@media (min-width: 2560px) {
 
  .header {
    font-size: 8rem;
  }
  h1 {
      font-size: 7rem;
  }

  h2 {
      font-size: 4rem;
  }

  .descriptif-menu {
    font-size: 3rem;
  }

  .basDePage {
      font-size: 3rem;
  }

  footer a {
      font-size: 3rem;
  }

}