.header{
    background: #579C87;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,193,7);
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;  
}

.header p {
    margin: 0;
    font-weight: bold;
}
h1 {
    font-family: 'PT Serif', serif;
    text-align: center;-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #cc6600, #996699, #6633cc);
}
h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    cursor: pointer;
  }
  
  h2::after {
    display:inline-block;
    content:"";
    height:.1rem;
    width:100%;
    background: none;     
  }
  
  h2:hover::after {
    background:black;
    animation: animate 2s linear infinite;
  }
  
  @keyframes animate{
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    } 
   }

.carte{
    font-family: 'PT Serif', serif;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.p {
    display:flex;
    justify-content: space-between;
}

p span {
    margin-left: 1rem;
    font-weight: bold;
}

.descriptif-menu {
    margin-bottom: 2.5rem;
}

.section1 {
    color: #cc6600;
} 

.section2 {
    color: #996699;
}

.section3 {
    color: #6633cc;
}

footer {
    display:flex;
    position: sticky;
    bottom: 0;
    left: 0;
    background: #579C87;
    height: 3rem;
    margin-top: 1.5rem;
}

footer a {
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    color: rgb(255,193,7);
    margin: auto;
}

footer a:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}