body {
    margin: 0;
}

.conteneur{
    width: 100%;
}

h1, h2 {
    text-align: center; /*Menu 1 à 4*/
}

h3 {
    display: flex;
    justify-content: space-between;
}

.carte{
    background-color: #ffcccc;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

i {
    width: 100%;
    text-align: center;
}

.header{
    background: #669999;
    color: rgb(255,193,7);
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center; 
    margin-bottom: 3rem; 
}

.header p {
    margin: 0;
    font-weight: bold;
}

.contenu {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    height: 10rem;
    width: 50%;
    box-shadow: 0px 0px 6px 0px grey;
}

.menu1 {
    background: #ffcccc;
    color: #330000;
    cursor: pointer;
}

.menu2 {
    background: #ffffff;
    color: #cc6600;
    cursor: pointer;
}

.menu3 {
    background: #ffffff;
    cursor: pointer;
}

.menu4 {
    background: #ffffff;
    cursor: pointer;
}
.menu1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    transform: scale(1);
    transition: transform 1s;
}

.menu a{
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255,193,7);
    margin: auto;
}

.menu a:hover{
    transform: scale(1.5);
    opacity: 0.50;
}

a span {
    margin-top: 1rem;
}

.prochainement {
    background: #669999;
    color: rgb(255,193,7);
    text-align: center;
    font-size: 20px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-bottom: .3rem;
    padding-top: .3rem;
    border-radius: 2.1rem;
}

.point:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;    
    animation: ellipsis steps(4,end) 2s infinite;
    content: "\2026";
    width: 0px;
  }
  @keyframes ellipsis {
    to {
      width: 1.25em;
      padding-left: .3em;    
    }
  }

.point {
    display: inline-block;
    width: 50px;
}

footer {
    display:flex;
    position: sticky;
    bottom: 0;
    left: 0;
    background: #669999;
    height: 3rem;
    margin-top: 1.5rem;
}

footer a {
    text-decoration: none; 
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    color: rgb(255,193,7);
    margin: auto;
}

footer a:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}


@media (max-width: 599px) {

    .contenu {
        flex-direction: column;
    }
}